<div class="container">
  <h1>Participants</h1>
  <br />
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Id</th>
          <th>Link</th>
        </tr>

        <% @tenants.each do |tenant| %>
            <tr>
              <td><%= tenant.name %></td>
              <td><%= tenant.id %></td>
              <td><%= link_to 'Show', tenant_path(tenant) %></td>
            </tr>
        <% end %>
      </table>
    </div>

  </div>

</div>



