<div class="container",  style="max-width:600px;",>

  <%= form_for :tenant, url: tenants_path do |f| %>
      <h1>Please sign in</h1>
      <br />

      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, :class => "form-control" %>
      </p>
      <p>
        <%= f.submit 'Go', :class =>"btn btn-lg btn-primary" %>
      </p>
  <% end %>

</div>
